/* Coolors Exported Palette - coolors.co/b5ffe1-93e5ab-65b891-4e878c-00241b */

/* RGB */
$color1: rgba(181, 255, 225, 1); // aero blue
$color2: rgba(147, 229, 171, 1); // teal dear
$color3: rgba(101, 184, 145, 1); // polished pine
$color4: rgba(78, 135, 140, 1); // steal teal
$color5: rgba(0, 36, 27, 1); // dark green

/* Coolors Exported Palette - coolors.co/b5ffe1-ef946c-65b891-c4a77d-00241b */
$color6: rgba(239, 148, 108, 1); // dark salmon

body,html {
  padding: 0;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 1px;
  background-color: $color1;

  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  display: grid;
  grid-template-rows: 10% 1fr 1fr 1fr 66%;
  background-color: $color2;
  div, a {
    text-align: center;
    margin: 10px 10px;
    // width: 90%;
  }
}

#emailField, #passwordField, #confirmPasswordField {
  background-color: $color2;
}

.errorMsg {
  background-color: $color6;
}

.auth-button {
  background-color: $color3;
}
