body,html {
  padding: 0;
  margin: 0;
}

.appContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: black;

  grid-template-rows: 1fr 3fr;

  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// .letter {
//   background-color: #0069b3;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 20px;
//   font-size: 70px;
//   color: white;
//   line-height: 1;
//   font-family: 'hobeaux-rococeaux-background', Helvetica;
//   font-weight: 200;
//   cursor: pointer;
//   transition: all .3s ease;
// }

// Colors
$color-off-white: #f6f8ff;
$color-dark-grey: #50514f;
$color-purple: #a846a0;


.navbar {
  margin-bottom: 10px;
}

.users-list {
  list-style-type: none;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    background-color: $color-dark-grey;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: $color-off-white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: $color-purple;
}
